# GitHub workflow to deploy website of Python user group Graz
name: deploy
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up project
        run: sh scripts/set_up_project.sh
      - name: Lint documents
        run: uv run pre-commit run --all-files
      - name: Build site
        run: sh scripts/build_site.sh
      - name: Upload static files as artifact
        if: github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      id-token: write
      pages: write
      contents: write
    steps:
      - name: Deploy artifact to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
